.teacher-conttent{
    padding-top:100px;
    padding-bottom:304px;
}
.teacher-conttent>.bg2{
    top:940px;
}
.teacher-conttent>.icon3{
    position: absolute;
    left:0;
    top:840px;
    background: url(../images/sixth_page/bg1.png) no-repeat;
    width:80px;
    height:312px;
}
.teacher-conttent>.icon4{
    position: absolute;
    right:0;
    top:1480px;
    background: url(../images/sixth_page/bg3.png) no-repeat;
    width:80px;
    height:160px;
}
.common-title{
    margin-bottom:70px;
}
 .common-block{
   padding:40px 77px 62px 77px;
   margin-bottom:117px;
}

.team-member{
    justify-content: space-between;
}
.team-member .left{
    width:660px;
    height:640px;
}
.team-member ul{
    width:490px;
    margin-bottom:30px;
}
.team-member ul li{
    width:100%;
    height:130px;
    margin-bottom:40px;
    background: rgb(246,246,246);
    border-radius: 6px;
    position: relative;
}
.team-member ul li .icon{
    position: absolute;
    width:38px;
    height:38px;
    background: url(../images/sixth_page/icon1.png) no-repeat;
    top:-14px;
    right:14px;
}
.team-member ul li:nth-child(even) .icon{
    background: url(../images/sixth_page/icon2.png) no-repeat;
}
.team-member ul li:last-child{
    margin-bottom:0;
}
.team-member ul li img{
    width:120px;
    height:130px;
    margin-right:12px;
}
.team-member ul li .info .name{
    font-size: 20px;
    color: #333333;
    line-height: 30px;
    margin-bottom:4px;
    padding-top:12px;
}
.team-member ul li .info p span{
    display: block;
    font-size: 16px;
    color: #161616;
    line-height: 24px;
}
.team-block .link{
    display: flex;
    justify-content: flex-end;
}
.team-block .link a{
    font-size: 16px;
    color: #38BDEE;
    line-height: 24px;
}
.activity-block{
    padding-top:100px;
}
.photo{
    justify-content: space-between;
    flex-wrap: wrap;
}
.photo img{
    display: block;
    font-size:0;
    margin-bottom:20px;
}
.photo .left{
    flex-wrap: wrap;
    justify-content: space-between;
    flex:1;
}
.photo .left>.bg{
    width:195px;
    height:256px;
    background:rgba(251,156,77,1);
    border-radius: 10px;;
}
.photo .right{
    width:177px;
    margin-left:20px;
}
.photo .right img{
    margin-bottom:20px;
}
.photo .left .child{
    width:105px;
}
.photo .left .child .bg{
    width:105px;
    height:118px;
    background: #38BDEE;
    border-radius: 10px;
    margin-bottom:20px;
}
.photo .left .bg2{
    width:221px;
    height:177px;
    border-radius: 10px;
    background: #FB9C4D;
}